@font-face {
    font-family: 'Mont-Light';
    font-weight: 300;
    src: url("./../fonts/Mont-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mont-SemiBold';
    font-weight: 600;
    src: url("./../fonts/Mont-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mont-Regular';
    font-weight: normal;
    src: url("./../fonts/Mont-Regular.woff2") format("woff2");
    font-display: swap;
}

:root {
    background-color: #fff;
    --grey: #AFAFAF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mont-Regular', 'sans-serif', 'Arial';
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, header .title, .number, .description, .logo p, .back, .value, .box-title {
    font-family: 'Mont-SemiBold', 'sans-serif', 'Arial';
}

svg {
    user-select: none;
}

.container {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 4vw;
}

.d-flex {
    display: flex;
}

/* Заголовок страницы */

header {
    background-color: #336FB7;
    color: #fff;
    padding: 0.97vw 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    max-width: 205px;
}

.logo img {
    margin-right: 0.78125vw;
}

header .title {
    align-self: center;
    margin: 0 4vw;
    /*
    margin: 0 13.85vw;
    */
    font-size: 24px;
}

/* Основной блок */

main {
    margin: 2.6vw 5.2vw 4.16vw;
}

.titles {
    text-align: center;
}

main h1 {
    font-size: 36px;
    margin-top: 30px;
}

main h2 {
    margin-top: 1.8vw;
}

/* Колонки */

.columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 4.427vw;
    gap: 10%;
}

.columns hr {
    margin-bottom: 0.52vw;
    width: 60%;
    background-color: var(--grey);
}

.column {
    flex-basis: 26.66%;
    margin-top: 50px;
}

.number {
    font-size: 45px;
    color: #529977;
}

.description {
    font-size: 20px;
}

/* Карта */

.map {
    text-align: center;
    position: relative;
}

/* Легенда */

.legend {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 3.385vw 5.2vw;
}

.legend-item {
    display: flex;
    flex-basis: 47.5%;
    gap: 1.5625vw;
    margin-top: 1.3vw;
    align-items: center;
}

.map svg {
    display: none;
}

.bel_map {
    max-width: 90vw;
    max-height: 99vh;
    display: inline-block !important;
}

g:hover .ter {
    transition: 0.5s all ease;
    fill: #58BE8D;
}

g:hover .coat {
    transition: 0.5s all ease;
    opacity: 100%;
}


.box {
    position: absolute;
    background: #fff;
    max-width: 470px;
    max-height: 240px;
    border: #AFAFAF 1px solid;
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
    display: none;
    padding: 20px 25px;
}

.box-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.value-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.value-item {
    flex-basis: 26.66%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.2vw;
}

.value-item img {
    height: 46px;
    width: 42px;
}

.value {
    font-size: 24px;
}

.back {
    position: absolute;
    background: #FFCC00;
    border-radius: 5px;
    border: none;
    right: 0;
    padding: 10px 31px;
    font-size: 18px;
    display: none;
    margin-left: auto;
}

.back:hover {
    background: #e5b503;
}

.coat {
    opacity: 0;
}

.box:hover {
    display: block;
}

.copyright {
    color: var(--grey);
}

.footer {
    padding-bottom: 20px;
    text-align: center;
}

@media (max-width: 1402px) {

    header {
        padding: 3.25vw 0;
    }

    header .title {
        margin: 0 1.16vw;
        font-size: 18px;
    }

    .description {
        font-size: 16px;
    }

    main h1 {
        font-size: 26px;
    }

    main h2 {
        font-size: 20px;
    }

    .logo p {
        font-size: 12px;
        max-width: 150px;
    }

    .logo img {
        width: 49px;
        height: 49px;
    }

    .logo {
        margin-left: 0;
    }

    .columns {
        margin: 0 0 4.427vw;
    }

    .elem-container {
        display: flex;
        align-items: start;
    }

    .box {
        max-width: 260px;
        max-height: 160px;
        padding: 10px 15px;
        margin-right: auto;
    }

    .elem-container {
        height: 160px;
    }

    .value-container {
        gap: 20px 5%;
    }

    .value, #title {
        font-size: 16px;
    }

    .value-item {
        flex-basis: 30%;
    }

    .value-item img {
        width: 24px;
        height: 21px;
    }
}

@media (max-width: 758px) {

    .d-flex {
        flex-direction: column;
        gap: 10px;
    }

    header {
        padding: 3.33vw 0;
        flex-direction: column;
        gap: 2.7vw;
    }

    header .title {
        margin: 0;
        align-self: start;
        font-size: 20px;
    }

    .description {
        font-size: 13px;
    }

    .number {
        font-size: 32px;
    }

    main {
        margin: 4.19vw 4.19vw 6.69vw;
    }

    main h1 {
        font-size: 17px;
    }

    main h2 {
        font-size: 15px;
    }

    .columns {
        gap: 4%;
    }

    .column {
        flex-basis: 45%;
        margin-top: 25px;
    }

    .value, #title {
        font-size: 12px;
    }

    .box {
        max-width: 170px;
        max-height: 100px;
        position: relative;
        padding: 5px 8px;
    }

    .elem-container {
        height: 100px;
    }

    .back {
        position: relative;
        padding: 8px 20px;
        font-size: 14px;
    }

    .value-container {
        gap: 15px 2%;
    }

    .value-item img {
        width: 18px;
        height: 16px;
    }

    .legend {
        gap: 0;
        margin: 14.7vw 5.2vw;
    }

    .legend-item {
        flex-basis: 100%;
        gap: 8.3vw;
        margin-top: 4.45vw;
    }

    .legend-item img {
        max-width: 35px;
        max-height: 38px;
    }
}