@font-face {
    font-family: 'Mont-Light';
    font-weight: 300;
    src: url("./../fonts/Mont-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mont-SemiBold';
    font-weight: 600;
    src: url("./../fonts/Mont-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mont-Regular';
    font-weight: normal;
    src: url("./../fonts/Mont-Regular.woff2") format("woff2");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mont-Regular', 'sans-serif', 'Arial';
}

html, body {

}

h1, h2, h3, h4, h5, h6, header .title, .number, .description, .logo p {
    font-family: 'Mont-SemiBold', 'sans-serif', 'Arial';
}

:root {
    background-color: #fff;
    --grey: #AFAFAF;
}

/* Заголовок страницы */

header {
    background-color: #336FB7;
    color: #fff;
    display: flex;
    padding: 0.9375vw 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 5.2vw;
}

.logo p {
    max-width: 205px;
}

.logo img {
    margin-right: 0.78125vw;
}

header .title {
    align-self: center;
    margin: 0 13.85vw;
    font-size: 24px;
}

/* Основной блок */

main {
    margin: 2.6vw 5.2vw 4.16vw;
}

.titles {
    text-align: center;
}

main h1 {
    font-size: 36px;
}

main h2 {
    margin-top: 1.04vw;
}

/* Колонки */

.columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2.6vw 4.427vw;
    gap: 10%;
}

.columns hr {
    margin-bottom: 0.52vw;
    width: 60%;
    background-color: var(--grey);
}

.column {
    flex-basis: 26.66%;
    margin-top: 50px;
}

.number {
    font-size: 40px;
    color: #529977;
}

.description {
    font-size: 20px;
}

/* Карта */

.map {
    text-align: center;
}

/* Легенда */

.legend {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 3.385vw 5.2vw 0;
}

.legend-item {
    display: flex;
    flex-basis: 47.5%;
    gap: 1.5625vw;
    margin-top: 1.3vw;
}

.bel_map{
    max-width: 1000px;
    max-height: 900px;
}

.box {
    max-width: 420px;
    max-height: 240px;
    border: #AFAFAF 1px solid;
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
}

.box h3 {
    margin: 1.3vw 1.3vw 0;

}

.value-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5625vw 1.25vw;
    gap: 30px 10%;
}

.value-item {
    flex-basis: 26.66%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}

.coat {
    opacity: 0;
}

g:hover .ter {
    transition: 0.5s all ease;
    fill: #58BE8D;
}

g:hover .coat {
    transition: 0.5s all ease;
    opacity: 100%;
}


.copyright {
    color: var(--grey);
}

footer {
    margin: 0 10.4vw 20px;
}


@media (max-width: 1402px) {

    header {
        padding: 3.25vw 0;
    }

    header .title {
        margin: 0 1.16vw;
        font-size: 18px;
    }

    .description {
        font-size: 16px;
    }

    main h1 {
        font-size: 26px;
    }

    main h2 {
        font-size: 20px;
    }

    .logo p {
        font-size: 12px;
        max-width: 150px;
    }

    .logo {
        margin-left: 2.6vw;
    }

    .columns {
        margin: 0 0 4.427vw;
    }
}

@media (max-width: 756px) {

    header {
        padding: 3.33vw 0;
        flex-direction: column;
        gap: 2.7vw;
    }

    header .title {
        margin: 0 4.16vw;
        font-size: 20px;
    }

    .description {
        font-size: 13px;
    }

    .number {
        font-size: 32px;
    }

    main {
        margin: 4.19vw 4.19vw 6.69vw;
    }

    main h1 {
        font-size: 17px;
    }

    main h2 {
        font-size: 15px;
    }

    .logo {
        margin-left: 4.16vw;
    }

    .column {
        flex-basis: 45%;
        margin-top: 25px;
    }

    .legend {
        gap: 0;
        margin: 14.7vw 5.2vw 0;
    }

    .legend-item {
        flex-basis: 100%;
        gap: 8.3vw;
        margin-top: 4.45vw;
    }
}