@font-face {
    font-family: 'Mont-Light';
    font-weight: 300;
    src: url("./../fonts/Mont-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mont-SemiBold';
    font-weight: 600;
    src: url("./../fonts/Mont-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mont-Regular';
    font-weight: normal;
    src: url("./../fonts/Mont-Regular.woff2") format("woff2");
    font-display: swap;
}

:root {
    background-color: #fff;
    --grey: #AFAFAF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mont-Regular', 'sans-serif', 'Arial';
}

html,
body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
header .title,
.number,
.description,
.logo p,
.back,
.value,
.box-title {
    font-family: 'Mont-SemiBold', 'sans-serif', 'Arial';
}

svg {
    user-select: none;
}

.container {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 4vw;
}

.d-flex {
    display: flex;
}

/* Заголовок страницы */

header {
    background-color: #336FB7;
    color: #fff;
    padding: 0.97vw 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    max-width: 205px;
}

.logo img {
    margin-right: 15px;
}

header .title {
    align-self: center;
    margin: 0 4vw;
    /*
    margin: 0 13.85vw;
    */
    font-size: 24px;
}

/* Основной блок */

main {
    margin: 2.6vw 5.2vw 4.16vw;
}

.titles {
    text-align: center;
}

.titles h1 {
    font-size: 36px;
    margin-top: 30px;
}

.titles h2 {
    margin: 40px 0 25px;
}

/* Колонки */

.columns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 50px 10%;
}

.columns hr {
    margin: 5px 0;
    width: 60%;
    background-color: var(--grey);
}

.column {
    flex-basis: 26.66%;
}

.number {
    font-size: 30px;
}

.description {
    font-size: 20px;
}

/* Карта */

.map {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.map svg {
    display: none;
}

.bel_map {
    max-width: 90vw;
    max-height: 99vh;
    display: inline-block !important;
}

g:hover .ter {
    transition: 0.5s all ease;
    fill: #58BE8D;
}

g:hover .coat {
    transition: 0.5s all ease;
    opacity: 100%;
}


.box {
    position: absolute;
    top: 0;
    transition: transform 0.3s ease;
    background: #fff;
    max-width: 446px;
    max-height: 240px;
    border: #AFAFAF 1px solid;
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
    display: none;
    padding: 20px 25px;
}

.box-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.value-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.value-item {
    flex-basis: 26.66%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.1vw;
}

.value-item img {
    max-height: 46px;
    max-width: 46px;
}

.value {
    font-size: 24px;
}

.back {
    position: absolute;
    background: #FFCC00;
    border-radius: 5px;
    border: none;
    right: 0;
    padding: 10px 31px;
    font-size: 18px;
    display: none;
    margin-left: auto;
}

.back:hover {
    background: #e5b503;
}

.coat {
    opacity: 0;
}

.box:hover {
    display: block;
}

.info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.elem-container {
    height: 80px;
    display: flex;
    align-items: end;
}

.icons {
    max-width: 45px;
}

.copyright {
    color: var(--grey);
}

.footer {
    padding: 20px 0 6px;
    text-align: center;
}

@media (max-width: 1600px) {
    .elem-container {
        height: 140px;
    }
}

@media (max-width: 1402px) {

    header {
        padding: 1vw 0;
    }

    header .title {
        margin: 0 1.16vw;
        font-size: 18px;
    }

    .description {
        font-size: 16px;
    }

    .titles h1 {
        font-size: 26px;
    }

    .titles h2 {
        margin: 35px 0 20px;
        font-size: 20px;
    }

    .logo p {
        font-size: 12px;
        max-width: 150px;
    }

    .logo img {
        width: 49px;
        height: 49px;
    }

    .logo {
        margin-left: 0;
    }

    .footer {
        padding: 15px 0 3px;
    }
}

@media (max-width: 1200px) {
    .elem-container {
        height: 90px;
    }

    .box {
        max-width: 260px;
        max-height: 160px;
        padding: 10px 15px;
        margin-right: auto;
    }

    .value,
    #title {
        font-size: 16px;
    }

    .value-container {
        gap: 20px 5%;
    }

    .value-item {
        flex-basis: 30%;
    }

    .value-item img {
        max-width: 25px;
        max-height: 25px;
    }
}

@media (max-width: 758px) {
    .column:nth-child(2) {
        order: 1;
        /* Порядок 4-го блока изменяется на 2 */
    }

    .column:nth-child(3) {
        order: 2;
        /* Порядок 4-го блока изменяется на 2 */
    }

    .column:nth-child(5) {
        order: 1;
        /* Порядок 4-го блока изменяется на 2 */
    }

    .column:nth-child(6) {
        order: 2;
        /* Порядок 4-го блока изменяется на 2 */
    }

    .info {
        gap: 10px;
    }

    .icons {
        max-width: none;
        max-height: 35px;
    }

    .elem-container {
        height: 70px;
    }

    .d-flex {
        flex-direction: column;
        gap: 10px;
    }

    header {
        padding: 3.33vw 0;
        flex-direction: column;
        gap: 2.7vw;
    }

    header .title {
        margin: 0;
        align-self: start;
        font-size: 20px;
    }

    .description {
        font-size: 13px;
    }

    .number {
        font-size: 24px;
    }

    main {
        margin: 4.19vw 4.19vw 6.69vw;
    }

    .titles h1 {
        font-size: 17px;
    }

    .titles h2 {
        margin: 30px 0 15px;
        font-size: 15px;
    }

    .columns {
        gap: 25px 4%;
        justify-content: center;
        margin-bottom: 25px;
    }

    .column {
        flex-basis: 45%;
    }

    .value,
    #title {
        font-size: 12px;
    }

    .box {
        max-width: 180px;
        max-height: 100px;
        padding: 5px 8px;
    }

    .back {
        position: relative;
        padding: 8px 20px;
        font-size: 14px;
    }

    .value-container {
        gap: 15px 2%;
    }

    .value-item img {
        max-width: 19px;
        max-height: 19px;
    }

    .footer {
        padding: 10px 0 0;
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .elem-container {
        height: 70px;
    }
}